doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title DailyDouz

    link(rel="stylesheet" href="css/reboot.css")
    link(rel="stylesheet" href="css/style.css")
  body
    header
      h1.logo DailyDouz
      p.slogan where things get done

    section.todo-board

      section.inbox
        h2#inbox-header inbox
        form
          textarea.task-content(wrap autofocus)
          button.add-task add
        
    


      section.in-progress
        h2#in-progress-header in progress
        

      section.completed
        h2#completed-header completed
        
    script(src='app.js')
